<h2><%= @title %></h2>

<!--<p><%= @content %></p>-->

<p><%= simple_format(@processed) %></p>

<p><%= link_to "Facebook Login", '/auth/facebook' %></p>

<h2>Round 1: Facebook</h2>

<% @first_round.each do |p| %>
<%= p.content %> </br></br>
<% end %>


<h2>Round 2: Classic Literature</h2>
<% @second_round.each do |p| %>
<%= p.content %> </br></br>
<% end %>


<p></p>
